<mat-toolbar color="primary">
  <span>Mis mapas</span>
</mat-toolbar>

<div class="main-container">

  <!-- <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button
      color="primary">Primary</button>
    <button mat-raised-button
      color="accent">Accent</button>
    <button mat-raised-button
      color="warn">Warn</button>
    <button mat-raised-button
      disabled>Disabled</button>
    <a mat-raised-button
      routerLink=".">Link</a>
  </div>

  <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->

  <app-mapa></app-mapa>
</div>