/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin: 0 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.main-container {
    margin-top: 5px;
    padding: 10px;
}